h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
   color: #4F6877;
}

body{
    width: 1200px;
    height: 630px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    
}

.axis text {
    font-family: calibri, sans serif;
    font-size: 10pt;
}

#chartdiv {
    top:55px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 750px;
    height: 560px;
    position: absolute;
    visibility: visible;
}

#mapdiv {
    top:55px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 750px;
    height: 560px;
    position: absolute;
    visibility: hidden;
}


#barchart{
    width: 490px;
    height: 560px;
    position: absolute;
    left: 760px;
    top: 55px;
    overflow: scroll;
    font-family: arial;
    font-size: 9pt;
}

#stackedbar{
    width: 490px;
    height: 280px;
    position: absolute;
    left: 760px;
    top: 350px;
    visibility:hidden;
}

#radarchart{
    width: 490px;
    height: 250px;
    position: absolute;
    left: 760px;
    top: 75px;
    visibility:hidden;
}

.btn {
    position:absolute;
    left: 940px;
    color: white;
    padding: 8px 14px;
    text-align: center;
    font-weight: bold;
    font-family: arial;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px #999;
}
.btn1:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn2:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn1 {
    margin-left: 100px;
    background-color: white;
    color: black;
    border: 2px solid #2885a4;
}

.btn1:hover {
    background-color: #2885a4;
    color: white;
}


.btn2 {
    background-color: white;
    color: black;
    border: 2px solid #98d1e6;
}

.btn2:hover {
    background-color: #98d1e6;
    color: white;
}

.dropbtn {
    background-color: #006080;
    width: 140px;
    height: 40px;
    position: absolute;
    border-radius: 8px;
    top:-40px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #00394d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top:450px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    width: 140px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family:arial;
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #e6e6e6}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



.dropbtn2 {
    background-color: #006080;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    position: absolute;
    top:-40px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
    background-color: #00394d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
    position: absolute;
    top:490px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    width: 140px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content2 a {
    font-family: arial;
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #e6e6e6}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
